



<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__">

  </div>
  <app-big-car
  Id="1"
   photocover=""
  carTitle="adsad"
  cardDescription="asdasd"></app-big-car>
  <div class="articles__others">
         <app-small-card
         Id="2"
         cardtitle="adsads"
         photocover=""></app-small-card>

         <app-small-card
         cardtitle=""
         photocover=""></app-small-card>

         <app-small-card
         cardtitle=""
         photocover=""></app-small-card>
  </div>

</div>
